body {
    background-color: rgb(43, 43, 43);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#caixa {
    display: flex;
    justify-content: space-around;
    background-color: rgb(97, 97, 97);
    padding: 20px;
}

.foto {
    width: 1000px;
    display: block;
    margin: 20px auto;
}

.foto:hover {
    opacity: .0;
    transition: 0.3s;
}

button {
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: blue;
    transform: scale(1.1);
}