body {
    background-color: rgb(43, 43, 43);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.barra {
    display: flex;
    justify-content: space-around;
    background-color: rgb(97, 97, 97);
    padding: 20px;
}

.foto {
    width: 1000px;
    display: block;
    margin: 20px auto;
}

.foto:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.menu {
    width: 200px;
    height: 100px;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.1);
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    transition: 0.5s;
}

.logo {
    width: 200px;
    height: 100px;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    transition: 0.5s;
}

.modelos {
    width: 200px;
    height: 100px;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modelos:hover {
    transform: scale(1.1);
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    transition: 0.5s;
}

.menubar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
}

.menubar.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.motos {
    width: 100px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.motos:hover {
    transform: scale(1.1);
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    transition: 0.5s;
}